
@{
    ViewData["Title"] = "InfoCreateUser";
}

<form asp-action="Create" method="post">
    <label>Infographic Title</label>
    <input name="infographicTitle" class="form-control" />
    <label>Comment</label>
    <input name="comment" class="form-control" />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

