@{
    ViewData["Title"] = "QuizHome";
}

<h1>InfoHome</h1>

<div class="container mt-5">
    <div class="text-center">
        <h2 class="mb-4">Quiz Maker Main Menu</h2>
        <div class="d-grid gap-3 col-6 mx-auto">
            <a asp-controller="QuizMaker" asp-action="QuizCreate" class="btn btn-success btn-lg">Create Quiz</a>
            <a asp-controller="QuizMaker" asp-action="QuizEdit" class="btn btn-secondary btn-lg">View Created Quiz</a>
            <a asp-controller="QuizMaker" asp-action="Index" class="btn btn-outline-secondary btn-lg">Back</a>
        </div>
    </div>
</div>
