@{
    ViewData["Title"] = "Quiz Edit";
}

<h1>InfoHome</h1>

<div class="container mt-5">
    <div class="text-center">
        <h2 class="mb-4">Quiz List</h2>
        <div class="d-grid gap-3 col-6 mx-auto">
            <a asp-controller="QuizMaker" asp-action="QuizHome" class="btn btn-outline-secondary btn-lg">Back</a>
        </div>
    </div>
</div>
