
@{
    ViewData["Title"] = "ProgressCreate";
}

<form asp-action="Create" method="post">
    <label>Learning Goal</label>
    <input name="goal" class="form-control" />
    <button type="submit" class="btn btn-success mt-2">Set Goal</button>
</form>

